@{
    Page.Title = "Rare UpCycle";
}

<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
<div class="container">
    <hgroup class="title">
        <h1>@Page.Title</h1>
    </hgroup>
    <br />
    <h2>Repurposing what others have long forgotten.</h2>
    <p>
        At Rare UpCycle we aim to take products of old, and make them the center of attention. By mixing innovation,
        creativity and passion we have made a wonderful receipe for devlivering unique items not found anywhere else.
        Our products can be found in two locations. At the <a href="http://www.spire-web.com">
            Red Door Mall
        </a> and
        <a href="http://warehouseoneantiques.com">Warehouse One Antiques</a>.
    </p>
    <br />
    <br />
</div>
<br />
<br />
<div class="container">
    <div class="buttonHolder">
        <img src="Images/rareUpcycle.png" style="height: 115px; width: 150px; border-radius: 0;">
    </div>
    <div class="container container1" style="width: auto">
        <div class="buttonHolder">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-6">
                        <h2>Red Door Mall</h2>
                        <p>6837 Lake Michigan Dr.<br />
                        <p>Allendal, MI 494XX</p>
                        <h3>Phone:</h3>
                        <p>616.895.2667</p>
                        <h5><b>Hours:</b></h5>
                        <p><b>Tues-Fri: </b>11a-6p</p>
                        <p><b>Sat: </b>11a-4p</p>
                    </div>
                    <div class="col-xs-6">
                        <h2>Wharehouse One</h2>
                        <p>449 Century Ave SW<br />
                        <p>Grand Rapids, MI 49503</p>
                        <h3>Phone:</h3>
                        <p>616.235.9292</p>
                        <h5><b>Hours:</b></h5>
                        <p><b>Mon-Sat: </b>10a-6p</p>
                        <p><b>Sun: </b>12a-5p</p>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <br>
</div>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img src="~/Images/rareup1.jpg" style="height: 320px; width: 350px; border-radius: 6px" />
        </div>
        <div class="col-md-4">
            <img id="pic2" src="~/Images/rareup2.jpg" style="transform: rotate(270deg); height: 280px; width: 350px; border-radius: 6px" />
        </div>
        <div class="col-md-4">
            <img id="pic3" src="~/Images/rareup3.jpg" style="transform: rotate(90deg); height: 280px; width: 350px; border-radius: 6px" />
        </div>
    </div>
</div>
@*<section class="center slider">
    <div>
        <img src="~/Images/rareup1.jpg">
    </div>
    <div>
        <img src="~/Images/rareup2.jpg/350x300?text=2">
    </div>
    <div>
        <img src="~/Images/rareup3.jpg/350x300?text=3">
    </div>
</section>*@
<br />
<br />
<br />
<br />
<script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.0/jquery-migrate.js"></script>
<script src="~/Scripts/slick.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    $(document).on('ready', function() {
      $(".regular").slick({
        dots: true,
        infinite: true,
        slidesToShow: 3,
        slidesToScroll: 3
      });
      $(".center").slick({
        dots: true,
        infinite: true,
        centerMode: true,
        slidesToShow: 3,
        slidesToScroll: 3
      });
      $(".variable").slick({
        dots: true,
        infinite: true,
        variableWidth: true
      });
      $(".lazy").slick({
        lazyLoad: 'ondemand', // ondemand progressive anticipated
        infinite: true
      });
    });
</script>